@import '~@angular/material/theming';

section {
  display: grid;
  grid-template-rows: auto 40px;
  grid-gap: 15px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 15px;
  border-radius: 4px;
  min-width: 150px;

  .header {
    display: grid;
    grid-template-columns: 40px auto;
    grid-gap: 10px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      animation: fade-in 0.5s ease-in;
    }

    .description {
      display: grid;
      grid-template-rows: 20px 25px;
      grid-gap: 10px;

      .name, .status {
        display: flex;
        align-items: center;
      }

      .name {
        font-size: 18px;
        font-weight: 500;
      }

      .status {
        span {
          $text-color: #ffffff;

          font-size: 12px;
          animation: fade-in 0.5s ease-in;
          color: $text-color;
          padding: 5px 10px;
          border-radius: 2em;
          font-weight: 500;

          &.authorized {
            background: mat-color(mat-palette($mat-green), A400);
          }

          &.not-authorized {
            background: mat-color(mat-palette($mat-red), 500);
          }

          &.pending {
            background: mat-color(mat-palette($mat-grey), 400);
            padding-right: 16px;

            &:after {
              content: '.';
              animation-duration: 2s;
              animation-iteration-count: infinite;
              animation-name: dot_display;
            }

            @keyframes dot_display {
              0%,
              20% {
                color: transparent;
              }

              40% {
                color: $text-color;
                text-shadow: 3px 0 0 transparent, 6px 0 0 transparent;
              }

              60% {
                text-shadow: 3px 0 0 $text-color, 6px 0 0 transparent;
              }

              80%,
              100% {
                text-shadow: 3px 0 0 $text-color, 6px 0 0 $text-color;
              }
            }
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      animation: fade-in 0.5s ease-in;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
