<section>
  <div class="header">
    <div class="icon">
      <app-provider-icon [type]="type"></app-provider-icon>
    </div>

    <div class="description">
      <div class="name">{{name}}</div>
      <div class="status">
        <span class="pending" *ngIf="isPending; else loaded">pending</span>

        <ng-template #loaded>
          <span class="authorized" *ngIf="isAuthorized; else notAuthorized">authorized</span>
          <ng-template #notAuthorized>
            <span class="not-authorized">not authorized</span>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="actions">
    <button mat-button
            [disabled]="isPending"
            (click)="onSignIn()"
            *ngIf="!isAuthorized; else authorized">SIGN IN</button>

    <ng-template #authorized>
      <button mat-button
              [disabled]="isPending"
              (click)="onSignOut()">SIGN OUT</button>
      <button mat-mini-fab
              color="primary"
              [disabled]="isPending"
              matTooltip="Show auth response"
              matTooltipPosition="above"
              [matTooltipDisabled]="isPending"
              (click)="onShowAuthResponse()">
        <mat-icon >code</mat-icon>
      </button>
    </ng-template>
  </div>
</section>
